{% extends 'base.html' %}

{% block content %}

  {% load widget_tweaks %}

  <title>Formulaire</title>

  <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <h1 class="text-center">Le prêt doit-il être accordé ?</h1>
          <form method="post">
            {% csrf_token %}
            <div class="form-group">
              <label>North American Industry Classification System (NAICS)  :</label>
              {{ form.NAICS|add_class:"form-control" }}
            </div>
            <div class="form-group">
                <label for="field3">Zone :</label>
                {{ form.UrbanRural}}
            </div>
            <div class="form-group">
              <label for="field3">Nombre d'employés :</label>
              {{ form.NoEmp}}
            </div>
            <div class="form-group">
              <label for="field4">Nombre d'emplois maintenus :</label>
              {{ form.RetainedJob}}
            </div>
            <div class="form-group">
              <label for="field5">Durée du prêt (en mois) :</label>
              {{ form.Term}}
            </div>
            <br><br>
            <div class="text-center">
              <input type="submit" class="btn btn-primary" value="Envoyer">
            </div>
          </form>
        </div>
      </div>
    </div>
    {% if info.MIS_Status == 1 %}
      <div class="container">
        <div class="row">
          <div class="col-md-6 offset-md-3">
            <h1 class="text-center" style="color: green;">"Le prêt est accordé !</h1>
          </div>
        </div>
      </div> 
    {% elif info.MIS_Status == 0 %}
      <div class="container">
        <div class="row">
          <div class="col-md-6 offset-md-3">
            <h1 class="text-center" style="color: red;">Le prêt est refusé !</h1>
          </div>
        </div>
      </div> 
    {% endif %}
{% endblock content%} 
