
body, html{
    height: 100vh;
    background-image: url('../img/pexels-ravi-roshan-8566288.jpg');
    background-size: cover;
}

.col-md-6 {
    border: 1px solid #000;
    background-color: rgba(0, 0, 0, 0.663);
    padding: 2em;
    color: white;
  }
 
.form-group{
    padding: 0.5em;
  }
  